<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow-lg bg-dark " style="width: 40rem;">
    <div class="card-body">
    <h3 class="card-title text-center mb-4" style="color: #ff4d4d;">
      <%= action_name == "new" ? "New Task" : "Edit Task" %>
    </h3>


      <%= form_with(model: task, local: true) do |form| %>
        <% if task.errors.any? %>
          <div class="alert alert-danger">
            <h4><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h4>
            <ul>
              <% task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :description, class: "form-label", style: "color: #ff4d4d;" %>
          <%= form.text_field :description, class: "form-control bg-dark text-white border-light" %>
        </div>


        <div class="mb-3">
          <%= form.label :status, class: "form-label text-dark" %>
          <%= form.select :status, ["Pending", "In Progress", "Completed"], {}, class: "form-select bg-dark text-white border-light" %>
        </div>

        <div class="mb-3">
          <%= form.label :due_date, "Due Date", class: "form-label  " %>
          <%= form.datetime_local_field :due_date, class: "form-control bg-dark text-white border-light" %>
        </div>

        <div class="d-grid">
          <%= form.submit (action_name == "new" ? "Create Task" : "Update Task"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
