<h1>Todos</h1>

<%= link_to "New Todo", new_todo_path, class: "btn btn-primary mb-3" %>

<% if current_user.admin? %>
  <%= link_to "Delete All Todos", destroy_all_todos_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger mb-3 ms-2" %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due Date</th>
      <th>Completed</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.description %></td>
        <td><%= todo.due_date.present? ? todo.due_date.strftime("%d %b %Y") : "-" %></td>
        <td><%= todo.completed ? "Yes" : "No" %></td>
        <td><%= todo.user&.username || "Admin" %></td>
        <td>
          <%= link_to "Edit", edit_todo_path(todo), class: "btn btn-sm btn-warning" %>
          <% if current_user.admin? || todo.user == current_user %>
            <%= link_to "Delete", todo_path(todo), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
